body{
	color:#555;
	font-family:Montserrat,sans-serif;
	font-size:18px;
	background:#000;
	line-height:1.6;
	font-weight:300
}
p{
	letter-spacing:.5px
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	margin-top:0;
	margin-bottom:2rem
}
h1{
	font-size:32px;
	line-height:1.2;
	letter-spacing:.1px;
	font-weight:600
}
h2{
	font-size:1.4em;
	letter-spacing:.05em;
	line-height:1.6
}
h3{
	font-size:1.2em;
	letter-spacing:.05em;
	line-height:1.4
}
.bottom{
	position:absolute;
	bottom:0;
	left:0;
	right:0
}
header{
	position:absolute;
	width:100%;
	z-index:2
}
.container{
	position:relative;
	width:100%;
	max-width:960px;
	margin:0 auto;
	padding:0 20px;
	box-sizing:border-box
}
.center{
	text-align:center
}
.header-logo img{
	vertical-align:middle;
	display:inline-block;
	margin:40px
}
.main-nav{
	margin:0;
	text-align:center
}
ul.main-nav{
	list-style:none
}
li.main-nav-item{
	display:inline-block;
	text-align:center;
	margin:0;
	padding:40px 3%
}
.main-nav-item a{
	color:#fff;
	font-size:16px;
	letter-spacing:.1em;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:600
}
.main-nav-item a:active,.main-nav-item a:hover,.main-nav-item a:visited{
	border-bottom:2px solid #ff9800;
	padding:6px 0;
	border-top:2px solid #ff9800;
	transition:.1s
}
.secondary-nav{
	background:#000
}
.secondary-nav{
	display:none
}
ul.slideout-nav{
	list-style:none;
	margin:0;
	padding:0
}
li.slideout-nav-item{
	margin:0;
	display:block;
	text-align:center
}
.slideout-nav-item a{
	color:#fff;
	display:block;
	font-size:17px;
	letter-spacing:.1em;
	text-decoration:none;
	text-transform:uppercase;
	padding:30px
}
.slideout-nav-item a:hover{
	background:#d4874a;
	display:block
}
img{
	border-style:none;
	max-width:100%;
	height:auto
}
.button,button{
	color:#fff;
	font-family:Montserrat,sans-serif;
	font-size:20px;
	font-weight:700;
	line-height:36px;
	border-radius:10px;
	margin-bottom:40px;
	display:inline-block;
	padding:10px 40px;
	letter-spacing:.1rem;
	text-align:center;
	text-transform:uppercase;
	text-decoration:none;
	white-space:nowrap;
	background-color:#f44336;
	cursor:pointer;
	box-sizing:border-box
}
.button:focus,.button:hover,button:focus,button:hover{
	background-color:#000000c2;
	color:#fff
}
.hero{
	background-color:#000;
	color:#fff;
	text-align:center;
	padding:15% 40px 40px;
	background:url(../images/hero-image.jpg) no-repeat;
	background-size:cover;
	background-position:0 0;
	height:760px;
	position:relative
}
.hero-image{
	background:url(../images/hero-1.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:.4
}
.hero h2{
	color:#fff;
	font-size:24px;
	margin:2em 0;
	letter-spacing:.03em
}
.bio-hero{
 background-color: #000000;
 color: white;
 text-align: center;
 padding: 15% 40px 40px;
 background: url("../images/abstract-background@2x.jpg") no-repeat;
 background-size: cover;
 background-position: 0% 0%;
 height: 760px;
 position: relative;
}
.bio p {
    font-weight: 400;
    color: #555;
}
.headline{
	font-weight:900;
	font-family:montserrat,sans-serif;
	margin:40px 0;
	font-size:96px;
	color:#fff;
	text-shadow:4px 4px 20px #14051a;
	text-transform:uppercase;
	opacity:.8
}
.color-block-red{
	background:#f44336
}
.color-block-purple{
	background:#200329
}
.color-block-orange{
	background:#ff6b07
}
.color-block-white{
	background:#fff
}
.mission h1{
	font-weight:900;
	font-family:montserrat,sans-serif;
	font-size:60px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
  margin-bottom: 0;
}
.col.mission-bg-image1{
	background:url(../images/hardwork-01.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	padding:40px 20px;
	min-height:480px
}
.cta h1{
	font-weight:700;
	font-family:montserrat,sans-serif;
	font-size:36px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	padding:40px;
	margin-bottom:0;
	letter-spacing:1px
}
.team{
	margin:0;
	position:relative;
	background:#24002b
}
.team1,.team2,.team3,.team4,.team5,.team6{
	background-size:cover!important;
	background-position:50% 50%!important;
	min-height:500px;
	transition:1s
}
.team1:hover,.team2:hover,.team3:hover,.team4:hover,.team5:hover,.team6:hover{
	opacity:.5;
	cursor:pointer
}
.team1{
	background:url(../images/team-01.jpg) no-repeat
}
.team2{
	background:url(../images/team-02.jpg) no-repeat
}
.team3{
	background:url(../images/team-03.jpg) no-repeat
}
.team4{
	background:url(../images/team-04.jpg) no-repeat
}
.team5{
	background:url(../images/team-05.jpg) no-repeat
}
.team6{
	background:url(../images/team-06.jpg) no-repeat
}
.mikail-bg-image1{
	background:url(../images/team-01.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	min-height:480px;
	transition:1s
}
.kamia-bg-image1{
	background:url(../images/team-02.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	min-height:480px;
	transition:1s
}
.saood-bg-image1{
	background:url(../images/team-03.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	min-height:480px;
	transition:1s
}
.mikail-bio-image{
	background:url(../images/bio-mikail.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	min-height:480px;
	transition:1s
}
.bio .flex-grid-half .col:nth-child(2) {
    padding: 60px 30px;
}
.bio .flex-grid-half .col {
    padding: 0;
}
.team h2.center{
	font-weight:700;
	color:#fff;
	background:#24002bc2
}
.team .col{
	transition:1s;
	position:relative
}
.services{
	color:#fff;
	padding:80px 40px;
	position:relative;
	background-color:#000;
	text-align:center;
	background:url(../images/abstract-background@2x.jpg) no-repeat;
	background-size:cover;
	background-position:0 0
}
.services h1{
	font-weight:700;
	font-family:montserrat,sans-serif;
	font-size:36px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	padding:40px;
	margin-bottom:0;
	letter-spacing:1px
}
.services .flex-grid-thirds .col{
	width:32%;
	margin:0 40px
}
.services-2{
	color:#fff;
	background-color:#29002d;
	text-align:center
}
.services-2 .col{
	transition:1s;
	position:relative
}
.services1,.services2,.services3,.services4,.services5,.services6{
	background-size:cover!important;
	background-position:50% 50%!important;
	min-height:500px;
	transition:1s
}
.services1:hover,.services2:hover,.services3:hover,.services4:hover,.services5:hover,.services6:hover{
	opacity:.5;
	cursor:pointer
}
.services-2 h1{
	font-weight:700;
	font-family:montserrat,sans-serif;
	font-size:36px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	padding:40px;
	margin-bottom:0;
	letter-spacing:1px
}
.services-2 h2.center{
	font-weight:700;
	background:#ff2925bd;
	color:#fff
}
.services-2 .flex-grid-thirds .col{
	width:32%;
	margin:0 40px
}
.services1{
	background:url(../images/personal-training.jpg) no-repeat
}
.services2{
	background:url(../images/stretch-therapy.jpg) no-repeat
}
.services3{
	background:url(../images/self-defense.jpg) no-repeat
}
.services4{
	background:url(../images/nutrition.jpg) no-repeat
}
.services5{
	background:url(../images/infared-sauna.jpg) no-repeat
}
.services6{
	background:url(../images/services6.jpg) no-repeat
}
.services h2.center{
	color:#fff;
	font-weight:700;
	margin-top:75%;
	background:#24002ba8
}
.service-content {
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 40px;
}
.services-section {
    background: #ffffff;
}
.services-section-content .flex-grid-half .col {
    padding: 60px;
}
.services-section-content h1 {
    color: #ff2925;
    font-size: 26px;
}
.contact{
	color:#fff;
	background:#24002b;
	padding:0;
	position:relative;
}
.col.no-padding{
	padding-top:0!important
}
.col.contact-bg-image{
	background:url(../images/contact-01.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	padding:40px 20px;
	min-height:480px
}
.contact h1{
	margin-bottom:60px
}
.contact h2{
	color:#fff;
	text-transform:uppercase;
	letter-spacing:.1em
}
.contact h3{
	color:#fff;
	font-weight:700
}
.contact p{
	color:#fff;
	font-size:100%;
	font-weight:300
}
.col.google-map{
	padding:0!important;
	height:540px
}
.media{
	background:#000;
	color:#fff;
	min-height:360px;
	padding:80px 40px;
	position:relative
}
.about{
	background:#fff;
	min-height:480px;
	padding:80px 20px;
	position:relative
}
.about-image{
	background:url(../images/about.jpg) no-repeat;
	background-size:cover;
	background-position:50% 50%;
	background-color:#fff;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0
}
.mobile-img{
	display:none
}

.testimonial{
	background-color:#fbfaf6;
	color:#424242;
	position:relative;
	min-height:480px;
	padding:80px 0;
}
.testimonial h1 {
    text-align: center;
    color: #ff2925;
    font-size: 28px;
		text-transform:uppercase;
}
.testimonial h2{
	font-size:1em;
	margin-bottom:1.4em;
	letter-spacing:.02em;
}
.quote-author{
	font-size:16px;
	font-weight: 600;
	letter-spacing:.3em;
	text-transform:uppercase;
	text-align: center;
}
.footer{
	background-color:#000;
	color:#fff;
	padding:10px;
	text-align:center
}
.bottom{
	position:absolute;
	bottom:0
}
.vh-align-center{
	display:-webkit-box;
	display:-webkit--grid;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.vh-align-item{
	-webkit-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1
}
.vh-align-top{
	align-self:flex-start
}
.vh-align-bottom{
	align-self:flex-end
}
.align-bottom{
	position:absolute;
	bottom:0;
	width:100%
}
.flex-container{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.flex-grid{
	display:flex
}
.flex-grid .col{
	flex:1
}
.flex-grid-half{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	justify-content:space-between;
	position:relative
}
.flex-grid-half .col{
	width:50%;
	padding:60px 30px
}
.flex-grid-thirds{
	display:flex;
	justify-content:space-between;
	margin:20px
}
.flex-grid-thirds .col{
	width:32%
}
*{
	box-sizing:border-box
}
.scrollToTop{
	background:#ff292570;
	border-radius:8px;
	cursor:pointer;
	display:none;
	position:fixed;
	bottom:20px;
	right:40px;
	text-align:center
}
.scrollToTop a{
	color:#fff;
	text-decoration:none;
	font-size:12px;
	font-weight:600;
	line-height:40px;
	padding:0 10px
}

@media (max-width:1024px){
	.col p{
		text-align:center
}
	.cta h1{
		font-size:28px;
		padding:40px 0
}
	.team h2.center{
		font-size:22px
}
	.headline{
		font-size:52px
}
	.hero{
		height:auto
}
	.mission h1{
		font-size:32px
}
	.services h1{
		padding:0
}
	.flex-grid{
		display:block
}
	.flex-grid-half .col,.flex-grid-thirds .col{
		width:100%;
		text-align:center;
		padding:40px 0
}
	.flex-grid-thirds{
		display:block;
		justify-content:space-between;
		margin:0
}
	.flex-grid-half{
		display:block
}
	.mobile-img{
		display:block
}
	.about-image{
		background:0 0
}
	.service-content {
	    vertical-align: middle;
	    margin: 0;
	    position:inherit;
	    top: 0;
	    left: 0;
	    transform: translate(0%, 0%);
	    width: 100%;
	    padding: 40px;
}
}
@media screen and (max-width:1024px){
	header{
		position:inherit
}
	.primary-nav{
		display:none
}
	.secondary-nav{
		display:block
}
	.secondary-nav .navbar{
		display:block;
		z-index:9999;
		position:absolute;
		background:#333;
		width:100%
}
	.header-logo img{
		padding:40px 0;
		display:flex;
		margin:0 auto
}
	#toggle{
		width:20px;
		height:20px;
		margin:20px auto;
		background:#000
}
	#toggle div{
		width:100%;
		height:2px;
		background:#fff;
		margin:4px auto;
		transition:all .3s;
		backface-visibility:hidden
}
}
@media screen and (max-width:768px){
	header{
		position:inherit
}
	.hero{
		min-height:480px
}
	.hero h2{
		font-size:1.3em
}
.bio-hero {
    padding: 20px;
		height: 100%;
}
	.testimonial h2{
		font-size:18px
}
	.button-primary{
		display:none
}
.nav-btn.next-slide, .nav-btn.prev-slide {
    display: none;
}
}
